.contacto {
    .contactoFlex {
        @include FlexBox(column, center, center);

        h1 {
            font-size: map-get($titulos, altura1);
            font-weight: map-get($titulos, negrita1);
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .caja12 {
                   display: flex;
                   flex-direction: row;
                   flex-wrap: wrap;
                   justify-content: center;
                   margin: 0%;
            .caja1 {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                p{
                    font-family: $estiloParrafo;  
                }
                width: 500px;
                height: auto;
                margin-top: 20px;
                margin-bottom: 20px;

            }

            .caja2 {
                width: 500px;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align:left;
                input{
                    width: 400px;
                }

                label {
                    font-size: 15px;
                    font-weight: 700;
                    margin-bottom: 15px;
                    margin-left: 0px;
                }

                textarea {
                    width: 400px;
                    height: 150px;

                }
            }
        }

        .caja3 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 600px;
            height: 600px;
            margin-top: 10px;
        }

        .caja4 {
            display: flex;
            flex-wrap: wrap;
            p{
                width: 500px;
              font-family: $estiloParrafo;  
            }
            text-align: center;
            margin-top: 30px;
            margin-bottom: 30px;
            width: 420px;
            height: auto;
            p{
              width: 400px;
              font-family: $estiloParrafo;  
            }
        }
    }

}

.mapa{
    width: 600px;
    height: 600px;
}
@media (max-width:768px){

    .caja12{
        width: 400px;
    }
}

@media (max-width:768px){

    .caja1{
        width: 400px;
    }
}

@media (max-width:768px){

    .caja2{
        align-items: center;
        width: 400px;
        margin: 0%;
    }
}

@media (max-width:768px){

    .caja3{
        width: 400px;
        height: 400px;
        margin: 0%;
    }   

}

@media (max-width:768px){

    .mapa{
        width: 400px;
        height: 400px;
    }   
    
}





