.index {
    section {
        @include FlexBox(column, center, center)
    }

    div {
        @include FlexBox(row, center, center);
        
        div {
            margin-top: 30px;
            text-align: center;

            .imagenMain {
                width: 400px;
                margin-left: 30px;
                margin-right: 30px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }

        div {
            display: flex;
            flex-wrap: wrap;
            margin-top: 50px;
            margin-left: 10px;
            margin-right: 10px;
            justify-content: center;
            align-items: center;
            align-content: center;

            p {
                font-size: 20px;
                font-family: $estiloParrafo;
                margin-top: 30px;
                font-weight: 800;              
            }
        }

        div {
            h1 {
                text-align: center;
            }

            img {
                height: 300px;
                width: 400px;
                margin-top: 10px;
                margin-bottom: 30px;
                margin-left: 1opx;
                margin-right: 10px;
            }
        }
    }
}

@media (max-width:650px) {

    .parrafos{
            width: 400px;
    }
}
