.index {
    section {
        @include FlexBox(column, center, center);

        .imagen {
            display: flex;
            flex-direction: row;
            margin-top: 30px;
            text-align: center;

            .imagenMain {
                margin-left: 30px;
                margin-right: 30px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }

        div {
            display: flex;
            flex-wrap: wrap;
            margin-top: 50px;
            margin-left: 10px;
            margin-right: 10px;
            justify-content: center;
            align-items: center;
            align-content: center;

            .parrafos{
                p{
                    font-size: 40px;
                    margin-top: 30px;
                    font-weight: 800;
                }
            }
        }

        div {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin-bottom: 30px;

            h1 {}

            .imagenes {
                display: flex;
                flex-direction: row;

                div {
                    background-color: #3D2B56;
                    width: 350px;
                    height: autopx;
                    color: white;

                    img {
                        width: 350px;
                        height: 250px;
                    }
                }
            }
        }
    }
}

.parrafos p{
    font-size: 20px;
}


.imagenMain{
    width: 400px;
}



@media (max-width:520px) {

    .parrafos {
        width: 300px;
    }
}

@media (max-width:520px) {

    .imagenMain{
        width: 320px;
        height: 300px;
    }
}

