main {
    .sobreNosotros {
        @include FlexBox (column, center, center);
        flex-direction: column;
        text-align: center;

        h1 {
            margin-top: 30px;
            font-size: map-get($titulos, altura1);
            font-weight: map-get($titulos, negrita1);
        }

        .parrafo {
            display: flex;
            flex-wrap: wrap;
            width: 600px;
            margin-top: 50px;
            margin-bottom: 15px;
        }

        .imagennosotros {
            margin-top: 20px;
            margin-bottom: 50px;
            padding: auto;

            img {
                width: 600px;
            }
        }

        h2 {
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 30px;
        }

        div {
            margin-bottom: 20px;

            p {
                margin-top: 20px;
                font-size: 22px;
                width: 600px;
            }

        }
    }

}