.logoRedes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.logoRedes .logo {
  margin-left: 40px;
}
.logoRedes .logo a img {
  width: 400px;
  height: 150px;
  margin: 20px;
  text-align: center;
}

.redesSup {
  display: flex;
  justify-content: baseline;
  align-items: end;
  margin-left: 0px;
}
.redesSup div a .iconosSup {
  font-size: 40px;
  justify-content: center;
  margin-left: 20px;
  margin-right: 10px;
  transition: 1s;
}
.redesSup div a .iconosSup:hover {
  scale: 1.2;
}

.main {
  background-color: #3D2B56;
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
}
.main nav div div ul li .item {
  margin-top: 15pX;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 30px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  transition: 0.5s;
}
.main nav div div ul li .item:hover {
  background-color: white;
  color: #3D2B56;
}

.boton {
  background-color: white;
}

footer {
  background-color: #3D2B56;
  text-align: center;
  color: white;
}
footer div div .menuRedes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
footer div div .menuRedes div nav ul {
  margin: 30px;
  margin-left: 60px;
  margin-right: 60px;
  display: inline-block;
  text-align: left;
}
footer div div .menuRedes div nav ul h1 {
  text-align: left;
  padding: 0;
  font-size: 25px;
}
footer div div .menuRedes div nav ul a {
  text-decoration: none;
}
footer div div .menuRedes div nav ul a li {
  list-style: none;
  padding: auto;
  color: white;
  text-align: start;
}
footer div div .redes {
  display: flex;
  justify-content: center;
}
footer div div .redes div {
  width: 100px;
  height: 40px;
  margin: 20px;
}
footer div div .redes div a {
  margin-left: 30px;
  margin-right: 30px;
}
footer div div .redes div a .iconos {
  font-size: 40px;
  color: white;
  justify-content: center;
  margin-left: 20px;
  margin-right: 10px;
}
footer div div div a img {
  width: 100px;
  height: 40px;
  margin: 20px;
}

.index section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.index div {
  text-align: center;
}
.index div div {
  margin-top: 30px;
  text-align: center;
}
.index div div .imagenMain {
  width: 400px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.index div .div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.index div .div p {
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 30px;
  font-weight: 700;
}
.index div div h1 {
  text-align: center;
}
.index div div img {
  height: 300px;
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 1opx;
  margin-right: 10px;
}

@media (max-width: 650px) {
  .parrafos {
    width: 400px;
    background-color: black;
    color: white;
  }
}
main .sobreNosotros {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}
main .sobreNosotros h1 {
  margin-top: 30px;
  font-size: 45px;
  font-weight: 700;
}
main .sobreNosotros .parrafo {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  margin-top: 50px;
  margin-bottom: 15px;
}
main .sobreNosotros .imagennosotros {
  margin-top: 20px;
  margin-bottom: 50px;
  padding: auto;
}
main .sobreNosotros .imagennosotros img {
  width: 600px;
}
main .sobreNosotros h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
}
main .sobreNosotros div {
  margin-bottom: 20px;
}
main .sobreNosotros div p {
  margin-top: 20px;
  font-size: 22px;
  width: 600px;
}

.living {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
.living div div h1 {
  font-size: 45px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
}
.living div div .galerialiving {
  text-align: center;
  margin-bottom: 50pxp;
}
.living div div .galerialiving h2 {
  font-size: 35px;
  font-weight: 500;
  margin-top: 20px;
}
.living div div .galerialiving .galeria {
  list-style: none;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 20px;
  transition-duration: 1s;
}
.living div div .galerialiving .galeria img {
  height: 250px;
  transition: 1s;
}
.living div div .galerialiving .galeria img:hover {
  scale: 1.05;
}

.promociones {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.promociones div {
  margin-bottom: 20px;
}
.promociones div h1 {
  font-size: 45px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 10px;
}
.promociones div {
  margin-bottom: 40px;
}
.promociones div h2 {
  font-size: 35px;
  font-weight: 500;
}
.promociones .imagenuno {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.promociones .imagenuno a img {
  height: 250px;
  width: 350px;
  justify-content: center;
  transition: 1s;
}
.promociones .imagenuno a img:hover {
  scale: 1.2;
}

.contacto .contactoFlex, .contacto .contactoFlex .caja12 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: auto;
}
.contacto .contactoFlex h1, .contacto .contactoFlex .caja12 h1 {
  font-size: 45px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
}
.contacto .contactoFlex .caja12 {
  width: auto;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}
.contacto .contactoFlex .caja12 .caja1 {
  width: 500px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.contacto .contactoFlex .caja12 .caja1 p {
  width: 500px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.contacto .contactoFlex .caja12 .caja2 {
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.contacto .contactoFlex .caja12 .caja2 input {
  width: 400px;
}
.contacto .contactoFlex .caja12 .caja2 label {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-left: 0px;
}
.contacto .contactoFlex .caja12 .caja2 textarea {
  width: 400px;
  height: 150px;
}
.contacto .contactoFlex .caja3 {
  margin-top: 20px;
}
.contacto .contactoFlex .caja3 iframe {
  width: 500px;
}
.contacto .contactoFlex .caja4 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 420px;
  height: auto;
}
.contacto .contactoFlex .caja4 p {
  width: 500px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/*# sourceMappingURL=styles.css.map */
